<table class="table">
  <thead>
    <tr class="bg-info">
        <th>Arrival Time</th>
        <th>Route</th>
        <th>Departure Time</th>
    </tr>
  </thead>

  <tbody>
      <% obj.stations.each do |station|%>
      <% obj.train_times.each do |train_time1| %>
        <% station.train_times.each do |train_time2| %>
          <% if train_time1 == train_time2  %>
            <tr>
              <td><%= custom_duration_to_hours_mn_sec_str(train_time1.arrival) %></td>
              <td class="bg-success"><%= station.name %></td>
              <td><%= custom_duration_to_hours_mn_sec_str(train_time1.departure) %></td>      
            </tr>
          <% end %>
        <% end %>
      <% end %>
      <% end %>
  </tbody>
</table>




